body{
	
}

article{
	margin-top: 50px;
}

.view-title{
	margin: 50px 0;
	font-size: 36px;
	font-weight: 100;
}

section{
	justify-content: space-between;
}

.as-avata{
	width: 200px;
}

.as-avata img{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.as-avata #btn-wrap{
	margin-top: 20px;
	width: 200px;
	position: relative;
	display: block;
	text-align: center;
	overflow: hidden;
}
.as-avata #btn-wrap input{
	display: block;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	height: 33px;
	z-index: 1;
}

.as-information{
	width: 400px;
}

.as-information h1{
	font-size: 20px;
}

.as-information table{
	width: 100%;
}

.as-information table tr{
	height: 60px;
	width: 100%;
	display: block;
}

.as-information table tr td{
	vertical-align: bottom;
	width: 100%;
}

.as-information table tr td input[type='text'], .as-information table tr td input[type='password'], input[type='email']{
	width: 300px;
	border: 1px solid rgba(0,0,0,0.4);
	height: 30px;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 30px;
}

#fullname{
	background: url(../img/common/face.svg) left center no-repeat;
}

#username{
	background: url(../img/common/account.svg) left center no-repeat;
}

#date-picker{
	background: url(../img/common/date.svg) left center no-repeat;	
}

#email{
	background: url(../img/common/email.svg) left center no-repeat;	
}

#phone{
	background: url(../img/common/phone.svg) left center no-repeat;	
}

.as-information table tr td input[type="radio"]{
	height: 20px;
	width: 20px;
	vertical-align: -5px;
}

input[type='checkbox']{
	height: 20px;
	width: 20px;
	vertical-align: -5px;
}

.mess-err{
	margin-top: 5px;
}

#female, #user{
	margin-left: 20px;
}

.none-boder{
	border-bottom: none;	
}

select{
	width: 300px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;	
	font-size: 14px;
	padding: 5px 10px;
	background-color: transparent;
}
