
article{
	padding: 40px 0;
}

.title-and-search{
	align-items: center;
}

h1.title-manage{
	font-size: 36px;
	font-weight: 100;
	margin-top: 0;
}

#search-box{
	display: block;
	height: 30px;
	padding: 5px 10px 5px 25px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.5);
	background: url(../img/common/search_w.svg) 3px center/20px 20px no-repeat;
	background-color: rgba(0,0,0,0.8);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	color: white
}

#search-box:focus{
	background: url(../img/common/search.svg) 3px center/20px 20px no-repeat;
	background-color: rgba(0,0,0,0);
	color: black;
}

section.all-survey{
	margin-top: 30px;
	align-items: flex-start;
}

.all-survey .wrap-survey{
	margin: 10px 20px;
	width: 250px;
	height: auto;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom: 3px solid red;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
}

 .all-survey .wrap-survey:hover{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
} 

.all-survey .wrap-survey:hover .wrap-cover{
	background-size: 200% 200% !important;
	background-position: center center;
	-webkit-transition: background-size 2s ease-out;
	-o-transition: background-size 2s ease-out;
	transition: background-size 2s ease-out;
}
 
/*  .all-survey:hover .wrap-survey:not(:hover){
	opacity: 0.9;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.all-survey .wrap-survey:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}  */



.all-survey .wrap-survey .wrap-e-d{
	position: absolute;
	top: -30px;
	left: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	width: 100%;
	padding: 0 5px;
	clear: both;
}

.all-survey .wrap-survey:hover .wrap-e-d{
	top: 5px;
}

.all-survey .wrap-survey  .wrap-e-d .share{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #B0BEC5 url(../img/common/share.svg) center center no-repeat;
	background-size: 20px 20px;
}

.all-survey .wrap-survey  .wrap-e-d .share:hover{
	background: #B0BEC5 url(../img/common/share-b.svg) center center no-repeat;
	background-size: 20px 20px;
}

.all-survey .wrap-survey  .wrap-e-d .edit{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #8BC34A url(../img/common/edit.svg) center center no-repeat;
	background-size: 20px 20px;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.all-survey .wrap-survey  .wrap-e-d .edit:hover{
	background: #8BC34A url(../img/common/edit-b.svg) center center no-repeat;
	background-size: 20px 20px;
}

.all-survey .wrap-survey  .wrap-e-d .delete{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #FFC107 url(../img/common/delete.svg) center center no-repeat;
	background-size: 20px 20px;
	float: right;
	
}

.all-survey .wrap-survey  .wrap-e-d .delete:hover{
	background: #FFC107 url(../img/common/delete-b.svg) center center no-repeat;
	background-size: 20px 20px;
}

.all-survey .wrap-survey .wrap-cover{
	display: block;
	width: 100%;
	height: 100px;
}

 

.all-survey .wrap-survey .wrap-cover img{
	width: 100%;
	height: 100%;
}

.all-survey .wrap-survey .wrap-value{
	padding: 20px;
}

.wrap-value a:hover{
	text-decoration: underline;
	color: rgb(0,145,234);
}

.all-survey .wrap-survey .survey-title h1{
	font-size: 23px;
	margin: 0;
}

.all-survey .wrap-survey .decription{
	margin-top: 10px;
	font-size: 12px;
	max-height: 90px;
	text-overflow:ellipsis;
	overflow: hidden;
	line-height: 1.3;
	 display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	background: url(../img/common/description.svg) left top/20px 20px no-repeat;
	padding-left: 25px;
	color: rgba(0,0,0,0.7);
	min-height: 25px;
}

.all-survey .wrap-survey .decription span{
	font-weight: 100;
	font-style: italic;
}

.all-survey .wrap-survey .decription span:before{
	content: '"';
}

.all-survey .wrap-survey .decription span:after{
	content: '"';
}

.all-survey .wrap-survey .wrap-value h4{
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
	background: url(../img/common/calender.svg) left center/20px 20px no-repeat;
	padding-left: 25px;
	color: rgba(0,0,0,0.7);
}

.all-survey .wrap-survey .wrap-value h4 time{
	font-weight: normal;
}


.all-survey .wrap-survey .wrap-value h3{
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
	background: url(../img/common/author.svg) left center/20px 20px no-repeat;
	padding-left: 25px;
	color: rgba(0,0,0,0.7);
}

.all-survey .wrap-survey .wrap-value h3 span{
	font-weight: normal;
}


.wrap-share-link{
	margin-top: 10px;
	font-size: 12px;
}

.wrap-share-link input{
	height: 20px;
	width: 150px;
	line-height: 20px;
}

.viewdata{
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
}


.sec-pagin{
	margin-top: 50px;
}

.sec-pagin .pagin{
	margin: 0 20px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	-webkit-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.sec-pagin .pagin:hover{
	box-shadow: 0 0 5px black;
	cursor: pointer;
}

.sec-pagin .pagin:active{
	-webkit-transform: scale(0.93);
	-ms-transform: scale(0.93);
	-o-transform: scale(0.93);
	transform: scale(0.93);
}

.sec-pagin .back{	
	background: #03A9F4 url(../img/common/back.svg) center center no-repeat;
}

.sec-pagin p{
	line-height: 30px;
}

.sec-pagin .next{
	background: #03A9F4 url(../img/common/next.svg) center center no-repeat;
}

.cursor-notallow{
	cursor: not-allowed;
	opacity: 0.5;
}

.sec-pagin .cursor-notallow:hover{
	cursor: not-allowed;
	box-shadow: none;
}

.sec-pagin .cursor-notallow:active{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}




/**************************************Model share*****************************************/
#partten{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 1;
}


aside.model-share{
	display: none;
	position: fixed;
	width: 500px;
	top: 15%;
	left: 50%;
	margin-left: -250px;
	padding: 10px 30px;
	background: white;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
	z-index: 2;
}	

aside.model-share h1{
	margin: 0;
	padding: 5px 0 5px 25px;
	text-align: center;
	font-weight: 100;
	font-size: 36px;
	color: white;
	background-color: purple;
	width: 110%;
	position: relative;
	left: -42px;
	box-shadow: 12px 5px 10px rgba(0,0,0,0.5);
	line-height: 45px;
}

aside.model-share h1:before, aside.model-share h1:after{
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	z-index: -1;
	border: 6px solid transparent;
	border-top: 6px solid purple;
	border-right: 6px solid purple;
	left: 0;
	bottom: -12px;
}

aside.model-share .line-bottom{
	text-align: center;
	margin: 10px 0 20px 0;
}

aside.model-share .line-bottom span{
	display: inline-block;
	width: 50px;
	height: 3px;
	background-color: #FF7043;
}

aside.model-share .wrap-input-style{
	width: 45%;
}

aside.model-share .wrap-link-survey .wrap-input-style{
	width: 100%;
}

aside.model-share .wrap-input-style input{
	width: 100%;
}

aside.model-share .wrap-email h2{
	font-size: 24px;
}

aside.model-share .wrap-email .wrap-input-style{
	width: 60%;
}

aside.model-share button{
	margin: 10px 10px 10px 0;
	display: inline-block;
}

aside.model-share .loader{
	display: none;
	margin: 0 -3px
}

.message-result{
	display: block;
	color: red;
}

