<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Edit User</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/css-btr/bootstrap.min.css" th:href="@{/css/css-btr/bootstrap.min.css}"/> -->
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" href="../static/css/edit-user.css" th:href="@{/css/edit-user.css}"/>
	<link rel="stylesheet" href="../static/datetimepicker/jquery.datetimepicker.css" th:href="@{/datetimepicker/jquery.datetimepicker.css}"/>
	<!-- <link rel="stylesheet" href="../static/jquery-ui/jquery-ui.css" th:href="@{/jquery-ui/jquery-ui.css}"/> -->
</head>
<body>
	<a href="#" class="toTop"> </a>
	<div class="wrap-all">
		<!--/*/ <th:block th:include="/menu :: nav-menu"></th:block> /*/-->
		<form th:action="@{/manage-user/edit(iduser=${user.iduser})}" th:method="post" enctype="multipart/form-data" th:object="${user}">
		<article  class="w700">
			<h1 class="view-title">Update Information</h1>
			<section class="flex-box">
				<aside class="as-avata">
					<img class="avata" src="../static/img/avata/User.png" th:src="@{/img/avata/}+${user.avata}"/>
					<div id="btn-wrap" class="btn btn-blue"> Choose Avatar <input id="btn-file" name="avataFile" type="file"/></div>
				</aside>
				<aside  class="as-information">
					<table>
						<tr>
							<td>
								<input id="fullname" type="text" th:field="${user.fullname}" placeholder="Enter your Full Name"/>
								<div class="mess-err" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
							</td>
						</tr>
						<tr>
							<td>
								<input id="username" type="text" th:field="${user.username}" placeholder="Enter your Username"/>
								<div class="mess-err" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
							</td>
							
						</tr>
						<tr>
							<td>
								<input id="male" type="radio" name="sex" value="1" th:checked="${user.sex}" th:field="${user.sex}"/> <label for="male"> Male </label>
								<input id="female" type="radio" name="sex" value="0" th:checked="${user.sex}" th:field="${user.sex}"/> <label for="female"> Female </label>
							</td>
						</tr>
						<tr>
							<td>
								<input id="date-picker" type="text" th:field="${user.birthday}" placeholder="yyyy/mm/dd"/>
								<div class="mess-err" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
							</td>
						</tr>
						<tr>
							<td>
								<input id="email" type="email" th:field="${user.email}" placeholder="Enter your Email"/>
								<div class="mess-err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
							</td>
						</tr>
						<tr>
							<td>
								<input id="phone" type="text" th:field="${user.phone}" placeholder="Enter your Phone"/>
								<div class="mess-err" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
							</td>
						</tr>
						<tr th:if="${session.userLogin.role.idrole}">
							<td>
								<input id="admin" type="radio" name="role" value="1" th:checked="${user.role.idrole}" th:field="${user.role.idrole}"/> <label for="admin"> Admin </label>
								<input id="user" type="radio" name="role" value="2" th:checked="${user.role.idrole}" th:field="${user.role.idrole}"/> <label for="user"> User </label>
							</td>
						</tr>
						<tr th:if="${session.userLogin.role.idrole}">
							<td>
								<select th:field="${user.block}">
									<option value="0">
										None
									</option>
									<option value="1">
										Block
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<button type="button" class="btn btn-green btn-submit"> Save Information </button>
								<a href="#" th:href="@{/manage-user/view(iduser=${user.iduser})}"><button type="button" class="btn btn-yellow"> Back To View Infomation</button></a>
							</td>
						</tr>
					</table>
				</aside>
			</section>
		</article>
			<input type="hidden" th:field="${user.avata}"/>
		</form>
		<div style="height: 50px;"></div>
		<div class="plush"></div>	
	</div>
	<footer>
		
	</footer>
</body>
	<script type="text/javascript" src="../static/js/jquery-2.2.1.min.js" th:src="@{/js/jquery-2.2.1.min.js}"></script>
	<script type="text/javascript" src="../static/js/common.js" th:src="@{/js/common.js}"></script>
	<!-- <script type="text/javascript" src="../static/jquery-ui/jquery-ui.js" th:src="@{/jquery-ui/jquery-ui.js}"></script>-->
	<script type="text/javascript" src="../static/datetimepicker/jquery.datetimepicker.full.js" th:src="@{/datetimepicker/jquery.datetimepicker.full.js}"></script> 
	<script type="text/javascript" src="../static/js/edituser.js" th:src="@{/js/edituser.js}"></script>
	<script type="text/javascript">
	// <![CDATA[
	
	// ]]>
	</script>
</html>