<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Manage User</title>
	<link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/manage-user.css" th:href="@{/css/manage-user.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.6/css/bootstrap.css" th:href="@{/bootstrap-3.3.6/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/css-btr/dataTables.bootstrap.css" th:href="@{/css/css-btr/dataTables.bootstrap.css}"/>
	
</head>
<body>
	<a href="#" class="toTop"> </a>
	<div class="wrap-all">
		<!--/*/ <th:block th:include="/menu :: nav-menu"></th:block> /*/-->
		<article th:object="${form}">
			<h1 class="w1000">Manage All User</h1>
			<div class="wrap-table w1000">
				<table id="table-user" class="table table-striped table-bordered" cellspacing="0" >
			        <thead>
			            <tr>
			                <th>Index</th>
			                <th>Role</th>
			                <th>Username</th>
			                <th>Fullname</th>
			                <th>Email</th>
			                <th>Phone</th>
			                <th>Birth Date</th>
			                <th>Sex</th>
			                <th>Edit</th>
			            </tr>
			        </thead>
			        <tfoot>
			            <tr>
			                <th>Index</th>
			                <th>Role</th>
			                <th>Username</th>
			                <th>Fullname</th>
			                <th>Email</th>
			                <th>Phone</th>
			                <th>Birth Date</th>
			                <th>Sex</th>
			                <th>Edit</th>
			            </tr>
			        </tfoot>
			        <tbody>
			            <tr th:each="user, i : ${form.users}">
			            	<td th:text="${i.index+1}">1</td>
			            	<td th:text="${user.role.namerole}">1</td>
			            	<td class="td-user-infor" > <a href="#" th:href="@{/manage-user/view(iduser=${user.iduser})}" th:text="${user.username}"></a></td>
			            	<td th:text="${user.fullname}">1</td>
			            	<td th:text="${user.email}"></td>
			            	<td th:text="${user.phone}">1</td>
			            	<td th:text="${#dates.format(user.birthday, 'dd-MMM-yyyy')}">1</td>
			            	<td th:text="${user.sex==1} ? 'Male' : 'Female'">1</td>
			            	<td><a href="#" th:href="@{/manage-user/edit(iduser=${user.iduser})}"> <img class="img-edit" src="../static/img/common/editaccount.png" th:src="@{/img/common/editaccount.png}"/></a></td>
			            </tr>
			        </tbody>
			    </table>
	   		</div>
   		</article>
		<div class="plush"></div>	
	</div>
	<footer>
		
	</footer>
</body>
	<script type="text/javascript" src="../static/js/jquery-2.2.1.min.js" th:src="@{/js/jquery-2.2.1.min.js}"></script>
	<script type="text/javascript" src="../static/js/common.js" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" src="../static/js/js-btr/jquery.dataTables.js" th:src="@{/js/js-btr/jquery.dataTables.js}"></script>
	<script type="text/javascript" src="../static/js/js-btr/dataTables.bootstrap.js" th:src="@{/js/js-btr/dataTables.bootstrap.js}"></script>


	<script type="text/javascript">
		$(document).ready(function(){
			$('#table-user').DataTable();
			$(".menu .active").removeClass("active");
			$(".menu .mn-user a").addClass("active");
			$(".menu .mn-manage").find('a').first().addClass("active");
		});
	</script>
</html>